@import url(colors.css);

.navbar {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--navbar-background-color);
  width: 100svw;
  z-index: 10;
}

.navbar .item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: auto;
  padding: 1rem;
}

.navbar .items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  padding-right: 1rem;
  gap: 50px;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  color: var(--navbar-items-color);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.nav-logo {
  height: 3rem;
}

@media (width < 475px) {
  .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navbar .items {
    gap: 20px;
  }
}
