@import url(colors.css);

.registration {
  padding: 1rem;
  padding-bottom: 10rem;
  background-color: var(--white);
}

.registration::after {
  position: absolute;
  content: "";
  inset: 0;
  height: auto;
  width: 100svw;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

@media (width > 1600px) {
  .registration::after {
    width: 100%;
  }
}

.registration .container {
  margin-left: 20rem;
  margin-right: 20rem;
}

@media (width < 1200px) {
  .registration .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.form-wrapper {
  width: 30svw;
}

@media (width < 1600px) {
  .form-wrapper {
    width: 100svw;
  }
}

.form-wrapper h6 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 5px;
}

.form-wrapper h6::after {
  display: inline;
  position: relative;
  inset: 0;

  content: "*";

  color: red;
}

.form-wrapper input {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid var(--black);
  padding: 15px;
  outline: none;
  width: 90%;
  border-bottom-left-radius: 7px;

  transition: all 0.2s ease-in-out;
}

.form-wrapper input::placeholder {
  color: var(--black);
  opacity: 1;
}

@keyframes invalidShake {
  0% {
    transform: translate(-10px);
  }
  50% {
    transform: translate(10px);
  }
  100% {
    transform: translate(0px);
  }
}

.form-wrapper input:invalid {
  border: 2px solid red;
  color: red;

  animation: invalidShake 0.2s;
  animation-iteration-count: 1;
}

.class {
  border: 2px solid var(--black);
  padding: 10px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.class:hover {
  cursor: pointer;
  border: 2px solid var(--blue);
}

.class * {
  margin: 5px;
}

.form-grid {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (width < 520px) {
  .form-grid {
    justify-content: center;
  }
}

.registration-title {
  font-size: 3rem;
}

.registration-desc {
  font-size: 1.5rem;

  background: -webkit-linear-gradient(180deg, var(--black), var(--blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-shape {
  z-index: -999;
  content: "";
  height: 50svh;
  width: 50svw;
  background: radial-gradient(
    circle,
    rgba(40, 182, 208, 1) 0%,
    rgba(255, 255, 255, 0) 41%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
}

.background-shape:nth-child(1) {
  bottom: 2.5rem;
  left: 2.5rem;
}

.background-shape:nth-child(2) {
  top: 2.5rem;
  right: 2.5rem;
}

.background-shape:nth-child(3) {
  top: 10rem;
  left: 10rem;
}

.background-shape:nth-child(4) {
  bottom: 10rem;
  right: 10rem;
}

@media (width > 1200px) {
  .background-shape:nth-child(4) {
    display: none;
  }
}

@media (width < 1200px) {
  .background-shape:nth-child(3) {
    top: 40rem;
    left: 5rem;
  }

  .background-shape:nth-child(4) {
    bottom: 40rem;
    right: 5rem;
  }
}

.class > h1 {
  color: var(--black);
}

.class h1 {
  color: var(--black);
}

.section-title {
  font-size: 2rem;
}
